.app {
    position: relative;  
}

.app::-webkit-scrollbar-y {
    display: none;
}

.header {
    height: 100%;
    margin: 0;
}

.header__background {
    box-sizing: inherit;
    height: 100%;
    position: relative;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__navbar {
    padding: 0 50px;
    position: relative;
    height: 102px;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
}

.header__mobile-nav-id {

}

.header__mobile-nav-icon {
    font-size: 2.6rem;
    padding: 8px 16px;
    color: var(--white-color);
    margin-left: 32px;
    display: none;
}

.header__mobile-nav:checked ~ .mobile-nav__menu {
    transform: translateX(0);
}

.mobile-nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgb(85, 85, 85);
    padding: 16px 24px;
    overflow: scroll;
    transform: translateX(-100%);
    transition: transform linear 0.3s; 
    z-index:10;
}

.mobile-nav__menu-exit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 34px;
}

.mobile-nav__menu-exit-icon {
    font-size: 2rem;
    color: var(--white-color);
}


.mobile-nav__menu::-webkit-scrollbar {
    display: none;
}

.mobile-nav__menu-header,
.mobile-nav__menu-list-header {
    font-size:2.4rem;
    color: var(--white-color);
}  

.mobile-nav__menu-header {
    margin-bottom: 30px;
}

.mobile-nav__menu-list {
    margin: 30px 0;
    padding-left: 0;
    list-style-type: none;
}

.mobile-nav__menu-list-header {
    margin-bottom: 20px;
}

.mobile-nav__menu-item {
    padding-left: 16px;
    margin: 8px 0;
}

.mobile-nav__menu-link,
.mobile-nav__sub-menu-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
}

.mobile-nav__sub-menu-list {
    list-style-type: none;
    padding-left: 20px;
}

.mobile-nav__sub-menu-item {
    margin: 6px 0;
}

.mobile-nav__sub-menu-link {

}



.header__navbar-container {
    width: 100%;
    margin: 25px 0 0 70px;
}

.header__navbar-logo-wrapper {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-logo-link {
    text-decoration: none;
}

.header__navbar-logo {
    width: 160px;
    height: 38px;
    outline: none;
}

.header__navbar-list {
    padding-left: 0;
    margin: 45px 0;
    list-style-type: none;

}

.header__navbar-item {
    position: relative;
    display: inline-block;  
}

.header__navbar-item--has-packages:hover .packages-list {
    display: block;
}

.header__navbar-item a{
    letter-spacing: 0.15rem;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.6rem;
    color: var(--white-color);
}

.btn-book-item { 
    background-color: #ba71da;
    margin: 32px 30px;
    transform: translateY(-2px);
}

.btn-book-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__navbar-menu {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 200;
    position: absolute;
    right: 0;
    top: 28px;
    margin-right: 55px;
}

.header__navbar-menu:hover {
    cursor: pointer;
}

.header__navbar-item--has-packages:hover .general__navbar-list {
    display: block;
}

.general__navbar-item a {
    margin: 0 4px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.search-1-label {
    background-color: #f76570;
    transform: translateY(-2px);
    font-size: 1.2rem;
}

.arrow-right-icon {
    font-size: 1.4rem;
    margin-right: 20px;
}

.navbar-item-has-sublist:hover .packages-sublist {
    display: block;
}

.general__navbar-sublist-item a {
    margin: 0 4px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.Carousel-label {
    background-color: #14b9d5;
    padding: 0 8px;
    font-size: 1.4rem;
}

.label-new {
    background-color: #1bbc9b;
    font-size: 1.3rem;
}

/* sub-menu */

.header__navbar-input:checked ~ .sub-menu {
    transform: translateX(0%);
}

.sub-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 335px;
    height: 100%;
    background-color: var(--white-color);
    overflow: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform ease 0.8s;
    z-index: 1;
    /* display: none; */
}

.sub-menu__header {
    margin-bottom: 50px;
}

.header-titles-best {
    display: block;
    color: #9A9A9A;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 25px 0 0;
    text-align: center;
}

.package-underline {
    position: absolute;
    top: 13px;
    left: 29%;
    background-color: #ffcf04;
    width: 140px;
    height: 4px;
    z-index: -9;
}

.header-titles-packages {
    position: relative;
    justify-content: center;
    color: #635555;
    margin-top: 12px;
    margin: 12px auto 0;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    z-index: 10;
}

.sub-menu__close {
    position: absolute;
    padding: 6px;
    top: 0;
    right: 0;
    margin: 17px;
    font-size: 1.8rem;
}

.sub-menu__close::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid var(--black-color);
}

.sub-menu__close:hover {
    cursor: pointer;
}

.sub-menu__packages-container {
    margin: 0 35px;
}

.packages-item {
    display: flex;
    margin: 30px 0;
}

.img-Berlin {
    background-image: url(../img/package-berlin.jpg);
}

.img-Hong-kong {
    background-image: url(../img/package-Hong\ Kong.jpg);
}

.img-San-Francisco {
    background-image: url(../img/packkage-San-Francisco.jpg);
}


.packages-item-image {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 32px;
}

.packages-description {
    
}

.packages-description-place {
    color: #555555;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 14px;
} 

.packages-description-location {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 15px 0 20px;
}

.packages-description-location-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.packages-description-location a {
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
} 

.packages-description-btn-Berlin {
    height: 41px;
    background: linear-gradient(to right,#ffcf05,#ff9d05);
    padding: 0 14px ;
}

.packages-description-btn-Hong-kong {
    height: 41px;
    background: linear-gradient(to right,#f76570 ,#f78d65);
    padding: 0 14px ;
}

.packages-description-btn-San-Francisco {
    height: 41px;
    background: linear-gradient(to right,#bc71d3,#d77182);
    padding: 0 14px ;
}

.packages-banner {
    position: relative;
    background-image: url(../img/package-banner.jpg);
    height: 263px;
    width: 263px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    /* z-index: -1; */
}

.packages-banner--has-description:hover .packages-banner__description {
    opacity: 1;
}
 
.packages-banner--has-description:hover .packages-banner__text {
    z-index: 0;
}

.packages-banner--has-description:hover .packages-banner__black-screen {
    display: none;
}

.packages-banner__text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 30px;
    z-index: 1;
}

.packages-banner__place {
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 900;
}

.packages-banner__quantity {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 900;
}

.packages-banner__description {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #14b9d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: FadeIn linear 0.5s;
    opacity: 0;
    transition: opacity linear 0.7s;
}

.packages-banner__description-header {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px; 
}

.packages-banner__description-destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.packages-banner__description-destination a {
    color: var(--white-color);
    margin: 8px 0;
    padding: 0 16px;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
}

.packages-banner__description-destination a:hover {
    cursor: pointer;
}

.packages-banner__description-btn {
    margin: 15px auto 0;
    width: 182px;
    background-color: var(--white-color);
    color: #14b9d5;
}

.packages-banner__black-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

/* submenu-footer */
.sub-menu__footer {
    margin-bottom: 50px;
}

.footer-titles-last {
    color: #9A9A9A;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 25px 0 0;
    text-align: center;
}

.header-titles-minutes {
    position: relative;
    justify-content: center;
    color: #635555;
    margin-top: 12px;
    margin: 12px auto 0;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    z-index: 10;
}

.minutes-underline {
    position: absolute;
    top: 13px;
    left: 29%;
    background-color: #f3a46b;
    width: 140px;
    height: 4px;
    z-index: -9;
}

.sub-menu__last-minutes-category {
    margin: 0 35px;
}

.category-item {
    display: flex;
    margin: 30px 0;
}

.img-Tuscany {
    background-image: url(../img/category-Tuscany.jpg);
}

.img-Amsterdam {
    background-image: url(../img/category-Amsterdam.jpg);
}
.img-Phuket {
    background-image: url(../img/category-Phuket.jpg);
}

.category-item-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 32px;
}

.category-item-description {

}

.category-item-description-place {
    color: #555555;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 14px;
}

.category-item-description-location {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 15px 0 20px;
}

.category-item-description-location a {
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

.category-item-description-location-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-item-description-btn-Tuscany {
    height: 41px;
    padding: 4px 16px;
    background: linear-gradient(to right, #1bbc9b, #1bbc63);
}

.category-item-description-btn-Amsterdam {
    height: 41px;
    padding: 4px 16px;
    background: linear-gradient(to right, #f3a46b, #f3c96b);
    
}

.category-item-description-btn-Phuket {
    height: 41px;
    padding: 4px 16px;
    background: linear-gradient(to right, #14b9d5, #14d5b1);
}

/* header__container */

.header__container {
    margin-top: 130px;
    text-align: center;
}

.header__container-header {
    margin-bottom: 50px;
}

.header__container-header-text-1 {
    position: relative;
    display: inline-block;
    margin: 0 0 20px;
    font-size: 5rem;
    font-weight: 500;
    color: var(--white-color);
    z-index: 1;
}

.header__container-header-text-1 span {
    position: relative;
}

.header__container-header-text-1 span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 100%;
    height: 4px;
    z-index: -1;
    background-color: #ba71da;
}

.header__container-header-text-2 {
    margin: 14px 0 0;
    line-height: 5.5rem;
    letter-spacing: 4px;
    font-size: 2.2rem;
    color: var(--white-color);
}

.header__container-selector {
    margin-bottom: 45px;
}


.form-list {
    position: relative;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 50px;
    width: 375px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 25px;
    padding-left: 25px;
}

.form-list:hover {
    cursor: pointer;
}


.form-item {
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 15px;
}

/* header__styles */

.header__container-styles-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header__container-styles-item {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
}

.styles-item-img {
    height: 40px;
    width: 40px;
    margin: 8px 0 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.relax-img {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/t-relax.png);
}

.cultural-img {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/t-cultural.png);
}

.sport-img {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/t-sport.png);
}

.history-img {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/t-history.png);
}


.styles-item-text {
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 300;
}


/* CONTAINER */

.container {
    margin-top: 60px;
}

.container__header {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__header h3 {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 0 30px;
}

.container__header h2 {
    position: relative;
    margin: 0;
    color: var(--black-color);
    font-size: 3.6rem;
    font-weight: 700;
}

.destination-underline {
    position: absolute;
    right: 0;
    top: 17px;
    height: 8px;
    width: 240px;
    background-color: #30c2a4;
    z-index: -1;
}

.container__contents {
    margin-bottom: 45px;
}

.container__contents-item {
    position: relative;
    margin-bottom: 30px;
}

.container__contents-item--has-description:hover .container__contents-banner--description {
    opacity: 1;
}

.container__contents-item--has-description:hover .container__contents-banner-text {
    z-index: 0;
}

.container__contents-item--has-description:hover .container__contents-banner--img-opacity {
    display: none;
}

.container__contents-banner--img {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 372px;
} 

.container__contents-banner--img-opacity {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2)
}

.container__contents-banner-text {
    color: var(--white-color);
    position: absolute;
    left: 30px;
    bottom: 25px;
    z-index: 1;
}

.container__contents-banner-place {
    /* color: #333; */
    font-size: 2.5rem;
    font-weight: 900;
    display: block;
    margin-bottom: 14px;
}

.container__contents-banner-quantity {
    /* color: #333; */
    font-size: 1.8rem;
    font-weight: 300;
}

.container__contents-banner--description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #14b9d5;
    opacity: 0;
    transition: opacity linear 0.7s;  
}

.container__contents--description-header {
    margin: 100px 0 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
}

.container__contents--description-destination {
    margin: 30px 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__contents--description-destination a {
    text-decoration: none;
    margin-bottom: 16px;
    color: var(--white-color);
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.container__contents--description-btn {
    display: flex;
    margin: 15px auto 0;
    padding: 2px 24px;
    height: 30px;
    line-height: 30px;
    background-color: var(--white-color);
    color: #14b9d5;
}   

/* Next Holiday banner */

.Holiday__banner {
    position: relative;
    height: 235px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Holiday__banner-container {
    height: 100%;
}

.Holiday__banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}   

.Holiday__banner-text h2 {
    color: var(--white-color);
    margin-top: 0;
    font-size: 4.5rem;
    font-weight: 700;
}

.Holiday__banner-text span {
    position: relative;
    color: var(--white-color);
    font-size: 4.5rem;
    font-weight: 700;
    margin-left: 186px;
    z-index: 1;
}

.Holiday__banner-text span::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 178px;
    height: 6px;
    background-color: #f76570;
    z-index: -1;
}

.Holiday__banner-view {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 80px;
    height: 100%;
}

.Holiday__banner-btn {
    background-color: var(--white-color);
    color: #f76570;
    padding: 8px 32px;
}

/* NA beaches */
.NA-beaches {
    margin-top: 75px;
}

.NA-beaches__container {

}

.NA-beaches-description {
    /* padding-left: 43px;
    padding-right: 43px; */
}

.NA-beaches-description__header {
    margin-bottom: 40px;
}

.NA-beaches-description__header h4 {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 0 24px;
}

.NA-beaches-description__header h2 {
    position: relative;
    color: #555555;
    font-size: 3.6rem;
    font-weight: 700;
}

.NA-beaches-description__header h2 span {
    position: relative;
    line-height: 1;
}

/* .NA-beaches-description__header h2 span::before {
    position: absolute;
    right: 33%;
    bottom: -4px;
    content: "";
    display: block;
    background-color: #14b9d5;
    height: 5px;
    width: 100%;
    z-index: -1;
} */

.NA-beaches-description__header h2::before {
    position: absolute;
    right: 33%;
    bottom: 2px;
    content: "";
    display: block;
    background-color: #14b9d5;
    height: 5px;
    width: 158px;
    z-index: -1;
}

.NA-beaches-description__text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
}

.NA-beaches-description__text-1 {

}

.NA-beaches-description__text-2 {

}

.NA-beaches-description__prize {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}   

.NA-beaches-description__prize-old {
    position: relative;
    margin-right: 16px;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 300;
    opacity: 0.6;
}

.NA-beaches-description__prize-old::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: var(--text-color);
    height: 3px;
    width: 100%
}

.NA-beaches-description__prize-new {
    color: #555555;
    font-size: 3rem;
    font-weight: 300;
    margin-right: 8px;
}

.NA-beaches-description__prize-quantity {
    color: #555555;
    font-size: 1.4rem;
    font-weight: 300;
}

.NA-beaches-description__btn {
    background-color: #1bbc9b;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 4px 36px;
}

.NA-beaches-view {
    position: relative;
}


.NA-beaches-view__img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/package-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.NA-beaches-view__img-times {
    position: absolute;
    bottom: -25px;
    left: 12px;
    width: 100%;
    height: 115px;
    background-color: #14b9d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NA-beaches-times-item {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NA-beaches-times-item p:nth-child(1) {
    margin: 8px 0;
    color: var(--white-color);
    font-size: 3.6rem;
    font-weight: 400;
}

.NA-beaches-times-item p:nth-child(2) {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 3;
}

.NA-beaches-view__selector {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.NA-beaches-view__btn {
    display: block;
    margin: 0 12px;
    width: 60px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.NA-beaches-view__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8)
}

.NA-beaches-view__btn.NA-beaches-view__btn--active {
    background-color: rgba(255, 255, 255, 0.8)
}

.NA-beaches__choices {
    margin-top: 70px;
}

.NA-beaches__choices-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.NA-beaches__choices-item-icon {
    height: 50px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.NA-beaches__choices-item-description {
    
}

.NA-beaches__choices-item-description-header {
    color: var(--header-color);
    font-size: 2.4rem;
    font-weight: 900;
}

.NA-beaches__choices-item-description-text {
    margin: 20px 0;
    text-overflow: ellipsis;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
}

.NA-beaches__choices-item-description-view {
    color: #14b9d5;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
}

/* Container__packages */

.Container__packages {
    margin-top: 60px;
}

.Container__packages-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.Container__packages-header p {
    margin: 0 auto;
}

.Container__packages-header p:nth-child(1) {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.Container__packages-header p:nth-child(2) {
    position: relative;
    color: var(--header-color);
    font-size: 3.6rem;
    font-weight: 700;
}

.Container__packages-header p:nth-child(2)::before {
    position: absolute;
    right: 0;
    bottom: -5px;
    content: "";
    display: block;
    background-color: #1bbc9b;
    height: 6px;
    width: 193px;
    z-index: -1;
}

.Container__packages-list {

}

.Container__packages-item {

}

.Container__packages-item-wrapper {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
}

.Container__packages-item-img {
    position: relative;
    min-height: 232px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 36px;
}

.Container__packages-item-img-icon {
    position: absolute;
    right: 20px;
    bottom: -20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} 

.Container__packages-item-img-icon span {
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
}

.Container__packages-item-description {
    margin: 0 32px;
}

.Container__packages-item-description-header {
    margin: 24px 0;
}

.Container__packages-item-description-header a {
    display: block;
    text-decoration: none;
}

.Container__packages-item-description-header a:nth-child(1) {
    color: var(--header-color);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.Container__packages-item-description-header a:nth-child(2) {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.Container__packages-item-description-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.Container__packages-item-description-info::before {
    position: absolute;
    top: -15px;
    content: "";
    display: block;
    border-top: 1px solid rgba(0,0,0,0.15);
    width: 100%;
}

.Container__packages-item-description-info::after {
    position: absolute;
    bottom: -15px;
    content: "";
    display: block;
    border-top: 1px solid rgba(0,0,0,0.15);
    width: 100%;
}

.Container__packages-item-description-info-wrapper {
    
}

.Container__packages-item-description-info-text {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--header-color);
}

.Container__packages-item-description-info-label {
    position: relative;
    display: block;
    background-color: #ffd205;
    width: 32px;
    height: 16px;
    letter-spacing: 2px;
    border-radius: 50px;
}

.Container__packages-item-description-info-label--has-details:hover .Container__packages-item-description-info-label-detail {
    display: block;
}

.Container__packages-item-description-info-label-detail {
    position: absolute;
    bottom: -41px;
    right: -24px;
    padding: 8px 10px;
    background-color: var(--header-color);
    display: none;
}

.Container__packages-item-description-info-prize {
    text-decoration: none;
    margin-right: 35px;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--header-color);
}

.Container__packages-item-description-info-prize--old {
    position: relative;
    display: inline;
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 300;
}

.Container__packages-item-description-info-prize--old::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
}

.Container__packages-item-description-text {
    margin: 24px 0;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
}   

.Container__packages-item-description-btn {
    background-color: #ffd205;
    color: var(--white-color);
    padding: 4px 24px;
    margin-bottom: 32px;
}

/* footer */
.footer {
    margin-top: 75px;
}

.footer__background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__header {
    padding-top: 80px;
    margin-bottom: 60px;
}

.footer__header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__header-text p {
    margin: 16px 0;
}

.footer__header-text p:nth-child(1) {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.footer__header-text p:nth-child(2) {
    padding-left: 136px;
    color: var(--header-color);
    font-size: 3.6rem;
    font-weight: 900;
}

.footer__header-email {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer__header-email-text {
    min-height: 42px;
    width: 300px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid var(--text-color);
    outline: 1px solid var(--text-color);
}

.footer__header-email-text:checked {
    outline: none;
}

.footer__header-btn {
    font-size: 1.8rem;
    background-color: #14b9d5;
    margin-left: 48px;
}

.footer__body-background {
    background-color: var(--white-color);
    height: 100%;
}

.footer__body-description {
    padding-left: 25px;
}

.footer__body-description-logo {
    background-image: url(../img/footer-logo.png);
    width: 155px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 45px;
}

.footer__body-description-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8;
    margin: 32px 0;
}

.footer__body-description-text span {
    text-decoration: underline;
}

.footer__body-description-media {
    margin-bottom: 32px;
}

.footer__body-description-media-icon {
    font-size: 2.2rem;
    color: var(--header-color);
    margin: 0 8px;
    text-decoration: none;
}

.footer__body-description-media-icon:hover {
    color: #14b9d5;
}

.footer__container {
    margin-top: 45px;
}

.footer__body-services-item:first-child {
    padding-left: 40px;
}

.footer__body-services-header {
    color: var(--header-color);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer__body-list {
    list-style-type: none;
    padding-left: 16px;
}

.footer__body-item {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.footer__body-item::before {
    content: ">";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    font-size: 1.7rem;
}

.footer__body-item:hover {
    color: #14b9d5;
    transform: translateX(4px);
}

.footer__bottom {
    
    height: 50px;
    background-color: #14b9d5;
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 5rem;
}

/* app__logo */

.app__logo {
    position: fixed;
    bottom: 48px;
    right: 32px;
    background-color: #545454;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.app__logo::before {
    content: "Buy Now";
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0 2px;
    color: var(--white-color);
    background-color: #f76570;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.app__logo-container {
    display: flex;
    position: absolute;
    bottom: -5px;
    color: var(--white-color);
    font-weight: 300;
}

.app__logo-container p:nth-child(1) {
    position: absolute;
    top: 5px;
    left: -5px;
    font-size: 1rem;
}

.app__logo-container p:nth-child(2) {
    font-size: 2.5rem;
}

.app__logo-container-logo {
    position: absolute;
    left: -19px;
    bottom: -1px;
    width: 35px;
    height: 35px;
    background-color: #545454;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
}

.app__logo-container-logo img {
    height: 15px;
    width: 15px;
    background-color: #545454;
    margin: auto;
}
